@font-face {
  font-family: Komika;
  src: url('https://github.com/idenproject/public/raw/main/fonts/komika.ttf' format('truetype'));
}

@import url('//fonts.googleapis.com/css?family=Bangers');

p, .jp-RenderedHTMLCommon p {
  font-family: "Komika" !important
}

h1 {
  font-family: "Bangers" !important;
}
