h4 {
    font-family: "Komika Hand" !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 2 !important;
    letter-spacing: 0.05em !important;
}

h1 {
  font-family: "Bangers" !important;
}

.details-example > summary {
    background: #000000;
    width: 25% !important;
    font-family: "Komika Hand";
    padding: 5px;
    margin: 30px 0 30px 0;
    box-shadow: 5px 4px 0 8px #fff;
    transform: skew(-20deg) skewY(-5deg);
}

/* This may be weird */
div {
    background: black !important;
    font-color: white !important;
}