h4 {
    font-family: "Komika Hand" !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 2 !important;
    letter-spacing: 0.05em !important;
}

h1 {
  font-family: "Bangers" !important;
}
